<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:util="http://www.springframework.org/schema/util" xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd"> 
<!-- bean definitions here -->
<bean id="harkisk" class="com.tss.model.Hardisk">
    <constructor-arg value="100"/>
</bean>
<bean id="computer" class="com.tss.model.Computer" autowire="byName">
    <property name="name" value="Gaming PC"/>
</bean>








  <bean id="department" class="com.tss.model.Department">
        <property name="id" value="101"/>
        <property name="name" value="IT"/>
    </bean>

    <!-- Employee Bean with Department injected -->
    <bean id="employee" class="com.tss.model.Employees">
        <property name="id" value="1"/>
        <property name="name" value="yash"/>
        <property name="salary" value="50000"/>
        <property name="department" ref="department"/>
    </bean>

 
 
</beans>